body {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#navbar .logo img {
    max-width: 50%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 0;
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
    position: relative;
    min-height: 50px;
}

#navbar .navbar-collapse-wrapper {
    float: left;
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    -webkit-overflow-scrolling: touch;
}

.nav {
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navbar-header {
    margin: 7px -15px;
}

.navbar-navigation>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
}

#navbar .navbar-navigation {
    float: left;
}

#navbar .navbar-navigation {
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.nav>li {
    position: relative;
    display: block;
}

#navbar .navbar-collapse .dropdown-menu>li>a:hover,
#navbar .navbar-collapse .dropdown-menu>li>a:focus,
#navbar .navbar-collapse .dropdown-menu>li>a.is-active {
    color: #fff;
    background: #d13018;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

#navbar .navbar-collapse .dropdown-menu li a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transition: all 400ms;
    white-space: initial;
}

#navbar .navbar-collapse .dropdown-menu {
    margin: -4px 0 0;
    border-radius: 0;
    background: #f04d35;
}

#navbar .navbar-navigation>li>a {
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: border-color 400ms;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

#navbar .navbar-navigation>li>a:hover,
#navbar .navbar-navigation>li>a.is-active {
    border-color: #f14d34;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

button,
input {
    overflow: visible;
}
.support-main,
.block-main {
    overflow: hidden;
    position: relative;
    padding: 130px 0 60px;
    color: #fff;
    font-family: Montserrat;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.support-main-bg video,
.block-main-bg video {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 5;
    filter: blur(3px);
    transform: scale(2.04);
}

.support-main .container,
.block-main .container {
    position: relative;
    z-index: 15;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

.competency {
    margin-bottom: 60px;
}

.competency-body {
    font-weight: 500;
    font-size: 16px;
    color: #4f5a73;
}

.competency-time {
    font-size: 32px;
    margin-top: -20px;
    color: #050c33;
    font-weight: bold;
}

.competency-icon {
    position: relative;
    margin-bottom: 30px;
}

.competencies h2 {
    font-weight: bold;
    font-size: 42px;
    color: #050c33;
    margin: 0 0 20px;
}
.support-main h1,
.block-main h1 {
    font-size: 52px;
    line-height: 60px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.support-main-description,
.block-main-description {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    color: rgba(255, 255, 255, .8);
    margin-bottom: 55px;
}

.support-main-btn,
.block-main-btn {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    padding: 22px 20px;
    margin-top: 40px;
    width: 220px;
    max-width: 100%;
    text-align: center;
    border: 2px solid #f14d34;
    border-radius: 5px;
    transition: 300ms;
    margin-bottom: 45px;
}

.support-main-btn:focus,
.support-main-btn:hover,
.support-main-btn:active,
.block-main-btn:focus,
.block-main-btn:hover,
.block-main-btn:active {
    background: #f14d34;
    text-decoration: none;
    color: #fff;
}

.support-achievements {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.support-achievement {
    margin-bottom: 96px;
}

.support-achievement-wrapper {
    border-left: 3px solid #f14d34;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 80px;
    height: 100%;
}

.support-achievement:first-of-type .support-achievement-title {
    font-size: 48px;
    margin-top: -22px;
}

.support-achievement-title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    position: relative;
}

.support-achievement-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: rgba(255, 255, 255, .7);
}

.competencies {
    padding: 100px 0;
    font-family: Montserrat;
}

.competencies h2 {
    font-weight: bold;
    font-size: 42px;
    color: #050c33;
    margin: 0 0 20px;
}

.competencies-description {
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #4f5a73;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-navigation {
        flex-direction: row;
        float: left;
        margin: 0;
    }
    .navbar-toggle {
        visibility: hidden;
    }
    .navbar-navigation>li {
        float: left;
    }
    #navbar .navbar-navigation>li {
        margin-right: 13px;
        margin-bottom: 8px;
    }
    .navbar-navigation>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-navigation {
        float: left;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
}